
rules_version = '2';
// Updated: 2026-04-03 - allow all signed-in users
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn();
    }

    match /sakeTastingNotes/{noteId} {
      allow read, write: if isSignedIn();
    }

    match /notes/{noteId} {
      allow read, write: if isSignedIn();
    }

    match /meta/{docId} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}
